extends layout

block nav
  ul.nav-items
    li.nav-link
      a(href='#')
        object(type='image/svg+xml' data='/public/images/metrics-28.svg')
          img(src='/public/images/metrics-28.svg')
    li.nav-link
      a(href='#')
        object(type='image/svg+xml' data='/public/images/metrics-28.svg')
          img(src='/public/images/metrics-28.svg')

block content
  h1 Wishlist additions by product category
  p Brief instructions: uisque mattis nisi velit, et faucibus dolor volutpat quis.

  //- Category Name
  div.category-controls-wrapper
  
