extends layout

block nav
  include nav-home

block architecture
  include includes/architecture.pug

block content
  p.title Wishlist Additions By Product Category
  .chart-container.chart-stream
    .chart.loading

  footer.footer-legend
    ul
      
  section.content-container
    h1.title.has-text Click the button to create an event
    p.current-sale
    button.big-button Create an event!
  
