extends layout

block nav
  include nav-home

block architecture
  .architecture
    iframe.architecture-iframe(width='100%', height='500px', scrolling='no', seamless)

block content
  p.title Wishlist Additions By Product Category
  p.current-sale No Sale
  .chart-container.chart-stream
    .chart.loading

  footer.footer-legend
    ul
      
  section.content-container
    h1.title.has-text Title about affecting the data
    p Nam consectetur sollicitudin augue at condimentum. Phasellus cursus et enim maximus iaculis. Nulla commodo ultrices lorem a gravida. Pellentesque et leo id magna malesuada suscipit. Nam eu finibus est. Morbi libero arcu, laoreet vitae luctus porttitor, elementum placerat sapien.
    button.big-button Do the thing!
  