extends layout

block nav
  ul.nav-items
    li.nav-link.icon.architecture-link
      a(href="#")
        img(src='/public/images/metrics-28.svg')
    li.nav-link.icon
      a(href='#' name='chart').toggle
        img(src='/public/images/usage-28.svg')

block architecture
  include includes/architecture.pug

block content

  h1.title Orders by category
  a.demand--fullfillment-button New Fullfillment

  div.demand-chart
    div.demand-chart-main
      div.demand-chart-y-ticks
        span.demand-chart-y-ticks--y100 100
        span.demand-chart-y-ticks--y0 0
      canvas#demand-chart
    div.demand-chart--x-ticks
        each val in ['5mins', '4mins', '3mins', '2mins', '1min', 'Now']
          span(class='demand-chart--x-tick')= val
            
  div.demand-category-container