extends layout

block vars
  - var mainClass = 'index';

block nav
  include nav-home

block architecture
  include includes/architecture.pug

block content
  .chart-container.chart-stream
    .text-wrapper
      p.title Wishlist Additions By Product Category
    .chart.loading
    footer.footer-legend
      ul

  .chart-container.chart-line
    .text-wrapper
      p.title Backlog
    .queue-count
      .queue-color(data-container='queue-color')
      span.queue-title Avg Time
      span.queue-text(data-container='queue-text')
    .chart.loading


  
