extends layout

block content
    h4
      | Order Control
      span(status='')
    p
      | These buttons will send a requset to the server but there isn't a way to know if it worked or not currently. Please check the log of generate_orders worker.
    div.order-control-buttons
      button(start-button='')
        | Start
      button(stop-button='')
        | Stop
      button(reset-button='')
        | Reset

