.booth {
  text-align: center;
}

.big-button {
  background: $button-color;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}
