$hColor1: #482d8c;
$hColor2: #3ca1da;
$hColor3: #51854a;
$hColor4: #79c36d;
$hColor5: #f9a151;
$hColor6: #d64242;
$hColor7: #bc5fb2;
$hColor8: #000000;
$hChartText: #757a7d;

$sfColor1: #18afe5;
$sfColor2: #955aa4;
$sfColor3: #f29e1f;
$sfColor4: #1fbcb8;
$sfColor5: #29347c;
$sfColor6: #60879e;
$sfColor7: #bc5fb2;
$sfChartText: #757a7d;

body.heroku {
  .chart-color-1 {
    background: $hColor1;
    fill: $hColor1;
  }
  .chart-color-2 {
    background: $hColor2;
    fill: $hColor2;
  }
  .chart-color-3 {
    background: $hColor3;
    fill: $hColor3;
  }
  .chart-color-4 {
    background: $hColor4;
    fill: $hColor4;
  }
  .chart-color-5 {
    background: $hColor5;
    fill: $hColor5;
  }
  .chart-color-6 {
    background: $hColor6;
    fill: $hColor6;
  }
  .chart-color-7 {
    background: $hColor7;
    fill: $hColor7;
  }
  .chart-color-8 {
    background: $hColor8;
    fill: $hColor8;
  }
  .chart-line-color-1 {
    fill: none;
    stroke: $hColor1;
  }
  .chart-line-color-2 {
    fill: none;
    stroke: $hColor2;
  }
  .chart-line-color-3 {
    fill: none;
    stroke: $hColor3;
  }
  .chart-line-color-4 {
    fill: none;
    stroke: $hColor4;
  }
  .chart-line-color-5 {
    fill: none;
    stroke: $hColor5;
  }
  .chart-line-color-6 {
    fill: none;
    stroke: $hColor6;
  }
  .chart-line-color-7 {
    fill: none;
    stroke: $hColor7;
  }
  .chart-line-color-8 {
    fill: none;
    stroke: $hColor8;
  }
  path.domain {
    stroke: $hChartText;
  }
  g.tick text {
    fill: $hChartText;
  }
  g.tick line {
    stroke: $hChartText;
  }
  text.label {
    fill: $hChartText;
    font-size: 12px;
  }
}

body.salesforce {
  .chart-color-1 {
    background: $sfColor1;
    fill: $sfColor1;
  }
  .chart-color-2 {
    background: $sfColor2;
    fill: $sfColor2;
  }
  .chart-color-3 {
    background: $sfColor3;
    fill: $sfColor3;
  }
  .chart-color-4 {
    background: $sfColor4;
    fill: $sfColor4;
  }
  .chart-color-5 {
    background: $hColor5;
    fill: $hColor5;
  }
  .chart-color-6 {
    background: $hColor6;
    fill: $hColor6;
  }
  .chart-line-color-1 {
    fill: none;
    stroke: $sfColor1;
  }
  .chart-line-color-2 {
    fill: none;
    stroke: $sfColor2;
  }
  .chart-line-color-3 {
    fill: none;
    stroke: $sfColor3;
  }
  .chart-line-color-4 {
    fill: none;
    stroke: $sfColor4;
  }
  .chart-line-color-5 {
    fill: none;
    stroke: $sfColor5;
  }
  .chart-line-color-6 {
    fill: none;
    stroke: $sfColor6;
  }
  path.domain {
    stroke: $sfChartText;
  }
  g.tick text {
    fill: $sfChartText;
  }
  g.tick line {
    stroke: $sfChartText;
  }
  text.label {
    fill: $sfChartText;
    font-size: 12px;
  }
}
